@page "/Profile"
@using Microsoft.AspNetCore.Http.Extensions
@using Login.Dtos

<PageTitle>Profile</PageTitle>

<head>
	<meta charset="UTF-8">
	<title>CodePen - A Pen by Mohithpoojary</title>
	<link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.2.0/css/all.css'>
	<link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.2.0/css/fontawesome.css'>
	<link rel="stylesheet" href="./css/login.css">
</head>

@if (_logout)
{
	<SignIn></SignIn>
}
else
{
	<div class="container">
		<div class="screen">
			<div class="screen__content">
				<form class="login">
					<div class="login__field">
						<i class="login__icon fas fa-user"></i>
						<p>@LoginUserResponseDto.Email</p>
					</div>
					<div class="login__field">
						<i class="login__icon fas"></i>
						<p>@LoginUserResponseDto.Name</p>
					</div>
					<button class="button login__submit" @onclick="OnLogoutEvent">
						<span class="button__text">Log out</span>
						<i class="button__icon fas fa-chevron-right"></i>
					</button>
				</form>
				<div class="social-login">
					<h3>log in via</h3>
					<div class="social-icons">
						<a href="#" class="social-login__icon fab fa-instagram"></a>
						<a href="#" class="social-login__icon fab fa-facebook"></a>
						<a href="#" class="social-login__icon fab fa-twitter"></a>
					</div>
				</div>
			</div>
			<div class="screen__background">
				<span class="screen__background__shape screen__background__shape4"></span>
				<span class="screen__background__shape screen__background__shape3"></span>
				<span class="screen__background__shape screen__background__shape2"></span>
				<span class="screen__background__shape screen__background__shape1"></span>
			</div>
		</div>
	</div>
}

@code
{
	[Parameter] 
	public LoginUserResponseDto LoginUserResponseDto { get; set; }

	private bool _logout = false;
	
	private void OnLogoutEvent()
	{
		_logout = true;
	}
	
}
