@page "/Profile"
@inject NavigationManager navMan
@using Microsoft.AspNetCore.Http.Extensions

<PageTitle>Profile</PageTitle>


<head>
  <meta charset="UTF-8">
  <title>CodePen - A Pen by Mohithpoojary</title>
  <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.2.0/css/all.css'>
  <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.2.0/css/fontawesome.css'>
  <link rel="stylesheet" href="./css/login.css">
</head>
<div class="container">
	<div class="screen">
		<div class="screen__content">
			<div class="user-profile">
			<p>Name: </p>
			<p>E-mail: </p>
			<button class="button login__submit" @onclick="Logout">
					<span class="button__text">Log out</span>
					<i class="button__icon fas fa-chevron-right"></i>
			</button>	
			</div>
			
		</div>
		<div class="screen__background">
			<span class="screen__background__shape screen__background__shape4"></span>
			<span class="screen__background__shape screen__background__shape3"></span>		
			<span class="screen__background__shape screen__background__shape2"></span>
			<span class="screen__background__shape screen__background__shape1"></span>
		</div>		
	</div>
</div>

<SurveyPrompt Title="How is Blazor working for you?" />

@code
{
	private void Logout() {
		navMan.NavigateTo("/");
	}
	
}
